<aside class="ls-sidebar">
  <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
    <a href="#" class="ls-ico-user">
      <%= current_user.name.split(' ').first %>
      <small><%= current_user.email %></small>
    </a>
    <nav class="ls-dropdown-nav ls-user-menu">
      <ul>
        <li><%= link_to "Sair", signout_path, id: "sign_out" %></li>
      </ul>
    </nav>
  </div>

  <nav class="ls-menu">
    <ul>
      <li>
        <%= link_to(t('.my_appointments'), panel_appointments_path, class: 'ls-ico-calendar') %>
      </li>
      <li>
        <%= link_to(t('.schedule_massage_appointment'), panel_appointments_new_path, class: 'ls-ico-calendar-more') %>
      </li>
    </ul>
  </nav>
</aside>
